.barra-navegacion {
  background-color: #ff2a3f;
  padding: 10px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.lista-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.item {
  margin-left: 20px;
}

.item:first-child {
  margin-left: 0;
  margin-right: auto;
}

.enlace {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.enlace:hover {
  text-decoration: underline;
}

.enlace-logo {
  padding: 1px;
}

.logo {
  height: 60px;
  vertical-align: middle;
}

.boton-cerrar-sesion {
  display: block;
  align-items: center;
  position: relative;
  right: 50px;
}

.boton {
  background: none;
  border: none;
  cursor: pointer;
}

.icono {
  height: 24px;
}

@media (max-width: 768px) {
  .lista-items {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
  }

  .item {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .boton-cerrar-sesion {
    margin-left: auto;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .barra-navegacion {
    padding: 10px;
  }

  .logo {
    height: 50px;
  }

  .enlace {
    font-size: 14px;
  }
}
