.contenedor-inicio-sesion {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.contenedor-inicio-sesion::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('mesacomida.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(2px);
  z-index: -1;
}

.formulario-inicio-sesion {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  z-index: 0;
}

.titulo-inicio-sesion {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.grupo-formulario {
  margin-bottom: 20px;
}

.grupo-formulario label {
  display: block;
  margin-bottom: 5px;
  color: #302f2f;
}

.grupo-formulario input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.boton-inicio-sesion {
  width: 100%;
  padding: 10px;
  background-color: #ff2a3f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.boton-inicio-sesion:hover {
  background-color: #d44141;
}

.btn-registro  {
  width: 100%;
  padding: 10px;
  background-color: #ff2a3f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.btn-registro:hover {
  background-color: #d44141;
}
  
body{
  flex:1;
}