.contenedor-pie {
  background-color: #ff2a3f;
  color: #ffffff;
  padding: 20px 0;
  width: 100%;
  bottom: 0;
  left: 0;
}

.contenido-pie {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo-pie {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.enlaces-pie {
  display: flex;
  gap: 10px;
}

.enlaces-pie a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.enlaces-pie a:hover {
  color: #000000;
}

.redes-sociales-pie {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.redes-sociales-pie a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

.redes-sociales-pie a:hover {
  color: #000000;
}

.disclaimer-pie {
  text-align: center;
  margin-top: 10px;
}
